.header{background:black; color:white; size:50px;}
h1{align:center;}
h2{align:center;}
h3{align:center;}
h4{align:center;}
p{align:center;}
.footer{align:center; background:black; color:white; border-top-color:#0080e0; border-top-width:2px;}
